@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    var message = ViewData["check"];
}

<span asp-validation-for="FizzBuzz.Number" class="text-danger"></span>

<div class="text-left">
    <h1 class="display-4">Cześć @Model.Name</h1>
    <form method="post">
        <label asp-for="FizzBuzz.Number"></label><br />
        <input asp-for="FizzBuzz.Number"/><br />
        <input type="submit" value="Zatwierdź" name="przycisk" class="btn btn-primary mb-2">
    </form>
    <div class="alert alert-success" role="alert">
        @message
    </div>
</div>